<a href="https://colab.research.google.com/github/vixerica0726/banco-dados-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
from google.colab import files

# Definindo o caminho onde o banco de dados será salvo
database_path = '/content/exerciciosbancodedados.db'

# Conectando ao banco de dados
conexao = sqlite3.connect(database_path)
cursor = conexao.cursor()
print('Conexão realizada com sucesso!')

In [ ]:
# 1. Criar a tabela chamada "alunos" com os campos: id, nome, idade e curso.
cursor.execute("""
CREATE TABLE IF NOT EXISTS alunos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER NOT NULL,
    curso TEXT NOT NULL
)
""")
print("Tabela 'alunos' criada com sucesso!")

In [ ]:
# 2. Inserir 5 registros de alunos na tabela "alunos"
alunos = [
    ("Nathan Felix", 23, "Engenharia"),
    ("David Pin", 25, "Marketing"),
    ("Erica Oliveira", 19, "Análise de dados"),
    ("Martha Souza", 36, "Enfermagem"),
    ("Clarice Santos", 22, "Administração"),
    ("Allan", 31, "Mecânica")
]
cursor.executemany('INSERT INTO alunos(nome, idade, curso) VALUES (?, ?, ?)', alunos)
print("Dados de alunos inseridos com sucesso!")

In [ ]:
# 3. Consultas Básicas
# a) Mostrar todos os alunos
print("Todos os alunos:")
visualizar = cursor.execute('SELECT * FROM alunos')
for aluno in visualizar:
    print(aluno)

# b) Alunos com mais de 20 anos
print("\nAlunos com mais de 20 anos:")
maiorIdade = cursor.execute('SELECT nome, idade FROM alunos WHERE idade > 20')
for aluno in maiorIdade:
    print(aluno)

# c) Selecionar os alunos do curso de "Engenharia" em ordem alfabética.
print('\nAlunos de Engenharia:')
curso = cursor.execute("SELECT * FROM alunos WHERE curso LIKE '%Engenharia%' ORDER BY nome;")
for aluno in curso:
    print(aluno)

# d) Contar o número total de alunos na tabela
print('\nNúmero total de alunos:')
total = cursor.execute('SELECT COUNT(*) FROM alunos;')
total_alunos = total.fetchone()[0]
print(f"Total de alunos: {total_alunos}")

In [ ]:
# 4. Atualização e Remoção
# Atualizando a idade de um aluno específico
idade_atual = 23
nova_idade = 25
cursor.execute('UPDATE alunos SET idade = ? WHERE idade = ?', (nova_idade, idade_atual))
conexao.commit()
print("Idade do aluno atualizada com sucesso!")

# b) Remover um aluno pelo seu ID.
id_aluno = 3
cursor.execute('DELETE FROM alunos WHERE id = ?', (id_aluno,))
conexao.commit()
print(f"Aluno com ID {id_aluno} removido com sucesso!")

In [ ]:
# 5. Criar uma Tabela e Inserir Dados
cursor.execute("""
CREATE TABLE IF NOT EXISTS clientes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER NOT NULL,
    saldo FLOAT NOT NULL
)
""")
conexao.commit()

clientes = [
    ("Lucas Silva", 30, 5000.75),
    ("Maria Oliveira", 45, 3500.50),
    ("José Santos", 29, 1500.20),
    ("Ana Costa", 55, 10000.00),
    ("Paulo Almeida", 40, 2200.10)
]
cursor.executemany('INSERT INTO clientes (nome, idade, saldo) VALUES (?, ?, ?)', clientes)
conexao.commit()
print('Tabela "clientes" criada e dados inseridos com sucesso!')

In [ ]:
# Consultas e Funções Agregadas
cursor.execute('SELECT nome, idade FROM clientes WHERE idade > 30')
resultado = cursor.fetchall()
for cliente in resultado:
    print(cliente)

cursor.execute('SELECT AVG(saldo) FROM clientes')
saldo_medio = cursor.fetchone()[0]
print(f"\nSaldo médio dos clientes: {saldo_medio:.2f}")

cursor.execute('SELECT nome, saldo FROM clientes WHERE saldo = (SELECT MAX(saldo) FROM clientes)')
cliente_max_saldo = cursor.fetchone()
print(f"\nCliente com saldo máximo: {cliente_max_saldo}")

cursor.execute('SELECT COUNT(*) FROM clientes WHERE saldo > 1000')
num_clientes = cursor.fetchone()[0]
print(f"\nNúmero de clientes com saldo acima de 1000: {num_clientes}")

In [ ]:
# Atualizar saldo de um cliente específico
id_cliente = 3
novo_saldo = 3000.00
cursor.execute('UPDATE clientes SET saldo = ? WHERE id = ?', (novo_saldo, id_cliente))

# Remover um cliente pelo seu ID
id_cliente_remover = 2
cursor.execute('DELETE FROM clientes WHERE id = ?', (id_cliente_remover,))
print("Cliente removido com sucesso!")

In [ ]:
import sqlite3
from google.colab import files

# Definindo o caminho onde o banco de dados será salvo
database_path = '/content/exerciciosbancodedados.db'

# Conectando ao banco de dados novamente (reabrindo a conexão)
conexao = sqlite3.connect(database_path)
cursor = conexao.cursor()
print('Conexão realizada com sucesso!')

# Criar a tabela "compras" com os campos: id (chave primária), cliente_id (chave estrangeira referenciando a tabela "clientes"), produto e valor
cursor.execute("""
CREATE TABLE IF NOT EXISTS compras (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    cliente_id INTEGER,
    produto TEXT NOT NULL,
    valor REAL NOT NULL,
    FOREIGN KEY (cliente_id) REFERENCES clientes(id)
)
""")
conexao.commit()
print("Tabela 'compras' criada com sucesso!")

# Inserir algumas compras associadas aos clientes existentes
compras = [
    (1, "Produto A", 200.50),
    (2, "Produto B", 150.30),
    (3, "Produto C", 500.00),
    (4, "Produto D", 350.75),
    (5, "Produto E", 120.20)
]

# Inserir as compras na tabela "compras"
cursor.executemany('INSERT INTO compras (cliente_id, produto, valor) VALUES (?, ?, ?)', compras)
conexao.commit()
print("Dados de compras inseridos com sucesso!")

# Consultar o nome do cliente, produto e valor da compra
print("\nConsulta: Nome do Cliente, Produto e Valor da Compra")
cursor.execute("""
SELECT clientes.nome, compras.produto, compras.valor
FROM compras
JOIN clientes ON compras.cliente_id = clientes.id
""")

# Exibir os resultados
for resultado in cursor.fetchall():
    print(resultado)

# Finalizando a conexão
conexao.commit()

# Para compartilhar o arquivo SQLite
files.download(database_path)
conexao.close()
print('Conexão fechada e arquivo pronto para download!')